*{
  margin: 0px;
  padding: 0px;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

body{
  height: 2000px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0597A026;
  padding: 10px 0px;
  width: 99vw;
}

.nav_title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.flower{
  width: 50px;
}

.heading{
  color: #272727;
  font-size: 40px;
  font-weight: 700;
}

.heading span{
  color: #E55473;
  font-weight: 900;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.menu>li{
  list-style: none;
}

.menu>li>a{
  text-decoration: none;
  color: #272727;
  font-weight: 700;
}

.btn_primary{
  background-color: #E55473;
  border: none;
  padding: 10px 23px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
}

.hero{
  background-color: #E554731A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0px 0px;
  width: 99vw;
}

.hero_container{
width: 600px;
}

.hero_container>h2{
  color: #272727;
  font-size: 70px;
  font-weight: 800;
}

.hero_container>p{
  color: #27272799;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 32px 0px;
}

.hero_pic{
  width: 435px;
}

