*{
  margin: 0px;
  padding: 0px;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0597A026;
  padding: 10px 0px;
  width: 99vw;
}

.nav_title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.flower{
  width: 50px;
}

.heading{
  color: #272727;
  font-size: 40px;
  font-weight: 700;
}

.heading span{
  color: #E55473;
  font-weight: 900;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.menu>li{
  list-style: none;
}

.menu>li>a{
  text-decoration: none;
  color: #272727;
  font-weight: 700;
}

.btn_primary{
  background-color: #E55473;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  transition: 0.01s;
}

.btn_primary:hover{
  box-shadow: 4px 4px 4px rgb(218, 207, 207);
}

.hero{
  background-color: #E554731A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0px 0px;
  width: 99vw;
}

.hero_container{
width: 600px;
}

.hero_container>h2{
  color: #272727;
  font-size: 70px;
  font-weight: 800;
}

.hero_container>p{
  color: #27272799;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 32px 0px;
}

.hero_pic{
  width: 435px;
}

.featured_title{
  width: 600px;
  margin: auto;
  text-align: center;
  padding-top: 170px;
}

.featured_title>h2{
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 24px;
}

.featured_title>p{
  color: #27272799;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
}

.featured_pics{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 140px 0px;
}

.featured_pics>div{
  text-align: center;
  text-decoration: underline;
}

.featured_pic{
  display: flex;
  justify-content: center;
  align-items:last baseline;
  width: 340px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;
  margin-bottom: 32px;
}

.pic1{
  background-color: #A7216226;
}

.pic1>img{
  width: 210px;
  height: 328px;
}

.pic2{
  background-color: #0597A026;
}

.pic2>img{
  width: 270px;
  height: 270px;
  padding-bottom: 40px;
}

.pic3{
  background-color: #477D1126;
}

.pic3>img{
  width: 210px;
  height: 350px;
}

.support_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2727270D;
  margin: 128px 140px 0px;
  padding: 80px;
  border-radius: 8px;
  margin-bottom: 128px;
}

.support{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.support>img{
  width: 50px;
  height: 50px;
  margin-bottom: 24px;
}

.support>span{
  font-weight: 600;
  line-height: 35px;
  color: #272727CC;
}

.discount{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E554730D;
  padding: 50px 200px;
}

.discount_title{
  width: 600px;
  text-align: center;
}

.discount_title>h2{
  color: #272727;
  font-weight: 800;
  font-size: 40px;
}

.discount_title>h2>span{
  color: #E55473;
}

.discount_title>span{
  color: #27272799;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 24px 0px;
  display: block;
}

.discount>img{
  width: 220px;
  height: 320px;
}

.social{
  margin: 128px 140px;
}

.social_title{
  text-align: center;
  margin-bottom: 48px;
}

.social_title>h2{
  color: #272727;
  font-weight: 800;
  margin-bottom: 24px;
}

.social_title>span{
  color: #27272799;
  display: block;
  width: 600px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: auto;
}

.social_pic_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social_pic_container>img{
  width: 260px;
  height: 300px;
}